.main-slider {
  position: relative;
  display: flex;
  width: 100%;
  height: 388px;

  &__main-image {
    position: relative;
    flex-shrink: 0;
    height: 100%;
    width: 582px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__left-thumbs,
  &__rigth-thumbs {
    display: flex;
    height: 100%;
    width: calc( 50% - 291px);
    overflow: hidden;

    .main-slider {
      &__batch {
        opacity: 0.4;
      }
    }
  }

  &__left-thumbs {
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .main-slider {
      &__batch {
        margin-right: 10px;

        &:last-child {
          opacity: 0.7;
        }
      }
    }
  }

  &__rigth-thumbs {
    justify-content: flex-start;

    .main-slider {
      &__batch {
        margin-left: 10px;

        &:first-child {
          opacity: 0.7;
        }
      }
    }
  }

  &__batch {
    height: 100%;
    width: 284px;
  }

  &__thumb {
    height: 189px;
    width: 284px;
    background-repeat: no-repeat;

    &:first-child {
      margin-bottom: 10px;
    }
  }

  &__arrow-left,
  &__arrow-right {
    position: absolute;
    top: 159px;
    display: block;
    height: 71px;
    width: 71px;
    z-index: 1;
  }

  &__arrow-left {
    left: -335px;
    background: url('images/left-arrow.png') no-repeat;
  }

  &__arrow-right {
    right: -335px;
    background: url('images/right-arrow.png') no-repeat;
  }

  &_2-batch {
    .main-slider {
      &__arrow-left {
        left: -42px;
      }

      &__arrow-right {
        right: -42px;
      }
    }
  }

  &_mobile {
    height: auto;

    .main-slider {
      &__main-image {
        width: 100%;
        height: auto;

        img {
          width: 100%;
        }
      }

      &__arrow-left {
        top: 50%;
        left: 10px;
        margin-top: -35px;
      }

      &__arrow-right {
        top: 50%;
        right: 10px;
        margin-top: -35px;
      }
    }
  }
}