.main-slider {
  position: relative;
  display: flex;
  width: 100%;
  height: 388px;
}
.main-slider__main-image {
  position: relative;
  flex-shrink: 0;
  height: 100%;
  width: 582px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-slider__left-thumbs, .main-slider__rigth-thumbs {
  display: flex;
  height: 100%;
  width: calc( 50% - 291px);
  overflow: hidden;
}
.main-slider__left-thumbs .main-slider__batch, .main-slider__rigth-thumbs .main-slider__batch {
  opacity: 0.4;
}
.main-slider__left-thumbs {
  justify-content: flex-end;
}
.main-slider__left-thumbs .main-slider__batch {
  margin-right: 10px;
}
.main-slider__left-thumbs .main-slider__batch:last-child {
  opacity: 0.7;
}
.main-slider__rigth-thumbs {
  justify-content: flex-start;
}
.main-slider__rigth-thumbs .main-slider__batch {
  margin-left: 10px;
}
.main-slider__rigth-thumbs .main-slider__batch:first-child {
  opacity: 0.7;
}
.main-slider__batch {
  height: 100%;
  width: 284px;
}
.main-slider__thumb {
  height: 189px;
  width: 284px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-slider__thumb:first-child {
  margin-bottom: 10px;
}
.main-slider__arrow-left, .main-slider__arrow-right {
  position: absolute;
  top: 159px;
  display: block;
  height: 71px;
  width: 71px;
  z-index: 1;
}
.main-slider__arrow-left {
  left: -335px;
  background: url("images/left-arrow.png") no-repeat;
}
.main-slider__arrow-right {
  right: -335px;
  background: url("images/right-arrow.png") no-repeat;
}
.main-slider_2-batch .main-slider__arrow-left {
  left: -42px;
}
.main-slider_2-batch .main-slider__arrow-right {
  right: -42px;
}
.main-slider_mobile {
  height: auto;
}
.main-slider_mobile .main-slider__main-image {
  width: 100%;
  height: auto;
}
.main-slider_mobile .main-slider__main-image img {
  width: 100%;
}
.main-slider_mobile .main-slider__arrow-left {
  top: 50%;
  left: 10px;
  margin-top: -35px;
}
.main-slider_mobile .main-slider__arrow-right {
  top: 50%;
  right: 10px;
  margin-top: -35px;
}
